html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  background: #f1f1f1;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}
a {
  color: #1e91c7;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.wrapper {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 50px 0px;
  display: grid;
  grid-gap: 50px;
}
.wrapper header {
  text-align: center;
}
.wrapper header .logo {
  max-width: 60%;
  max-height: 60px;
}
.wrapper main {
  display: grid;
  grid-gap: 50px;
}
.wrapper main .screenshots {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr;
}
.wrapper main .screenshots section {
  width: 100%;
  height: 240px;
  border-radius: 6px;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center top;
  transition: 0.2s ease-in-out transform;
}
.wrapper main .screenshots section:nth-child(1) {
  background-image: url('../img/screenshot1.png');
}
.wrapper main .screenshots section:nth-child(2) {
  background-image: url('../img/screenshot2.png');
}
.wrapper main .screenshots section:nth-child(3) {
  background-image: url('../img/screenshot3.png');
}
.wrapper main .screenshots section:nth-child(4) {
  background-image: url('../img/screenshot4.png');
}
.wrapper main .screenshots section:hover {
  z-index: 50;
  transform: scale(1.1);
  cursor: pointer;
}
.wrapper main .qnas section {
  background: #fff;
  padding: 25px;
  border-radius: 6px;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-gap: 20px;
}
.wrapper main .qnas section h1 {
  font-size: 24px;
}
.wrapper main .qnas section p {
  line-height: 1.5em;
}
.wrapper footer .disclaimer {
  opacity: 0.6;
  background: rgba(0, 0, 0, 0.07);
  padding: 20px;
  text-align: center;
  border-radius: 6px;
  font-size: 12px;
  line-height: 1.5em;
  margin-bottom: 15px;
}
.wrapper footer .copyright {
  text-align: center;
  opacity: 0.6;
  font-size: 12px;
}
.wrapper footer .copyright a {
  color: #653366;
}
.lightbox {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}
.lightbox img {
  max-width: 90%;
  max-height: 90%;
}
.lightbox.active {
  display: flex;
}
@media screen and (max-width: 520px) {
  .wrapper main .screenshots {
    grid-template-columns: 1fr;
  }
}
